* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #28a745;
    color: #333;
    line-height: 1.6;
}

/* Estilos del contenedor principal ---------------------------*/
main {
    margin-top: 100px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

/* Estilo para la sección -------------------------------------*/
section {
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(179, 184, 175, 0.2);
    max-width: 100%;
    width: 100%;
    text-align: center;
}

/* Títulos ----------------------------------------------------*/
h2 {
    color: #28a745;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
}

/* Formulario de entrada ------------------------------------- */
.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.evidencia-img {
    max-width: 100%;
    height: auto;
    margin: 0.5rem 0;
    border-radius: 4px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #555;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #28a745;
    outline: none;
}

textarea {
    resize: none;
    height: 120px;
}

#mi_mapa {
    height: 300px;
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
}

/* Estilo para el campo readonly --------------------------------*/
.readonly {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    pointer-events: none;
    color: #888;
    font-style: italic;
}

/* Botones ------------------------------------------------------*/
.form-actions {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: row; 
}

.cta-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 200px;
}

.cta-button:hover {
    background-color: #218838;
}

.cta-button.secondary {
    background-color: #ddd;
    color: #333;
}

.cta-button.secondary:hover {
    background-color: #bbb;
}

@media screen and (max-width: 768px) {
    main {
        width: 90%;
        padding: 20px;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .cta-button {
        width: 100%;
        max-width: 100%;
    }

    .form-actions {
        gap: 10px;
    }
}
