body {
    font-family: Arial, sans-serif;
    background: url('img/PortadaCuentas.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Ocupar toda la altura de la pantalla */
}

.form-section {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%; /* Ajusta el ancho del formulario */
    min-width: 500px; /* Tamaño mínimo */
    max-width: 1200px; /* Tamaño máximo */
}


.form-section h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.form-section label {
    margin-bottom: 0.5rem;
    color: #555;
}

.form-section input,
.form-section select {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-section .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-section button,
.form-section .btn-volver {
    background-color: #2196F3; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Sin subrayado para el enlace */
    transition: background-color 0.3s ease;
}

.form-section button:hover,
.form-section .btn-volver:hover {
    background-color: #1769aa; /* Azul más oscuro */
}

.form-section button:active,
.form-section .btn-volver:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
